.App {
    text-align: center;
    display: flex;
    background-color: rgb(95, 95, 95);
    margin: 15px 15px 15px 0px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

}

.nav {

    list-style-type: none;
    height: auto;
    width: 100px;
}
.navList {
    display : block;
    color: #000;
}

a {
        text-decoration: none;
        color: #000;
}

a :hover {
  text-decoration: underline;
}

.btn {
    background-color: rgb(95, 95, 95);
    
    width: 70px;
    color: white;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}
.btnactive {
    background-color: rgb(255, 255, 255);

    width: 70px;
    color: white;
    height: 50px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.contents { 
    display: flex;
    font-size: xx-large;
}
.contentsinfo {
    display : flex;
    background-color: #FFF ;

    text-align: center ;
    float: right;
    margin: 15px 15px 15px 0px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

    width: 100%;
}